.homePageWrapper {
  width: 100%;
  padding-inline: 20px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1680px;
  width: 100%;
}

.boardScrollContainer {
  width: 100%;
  overflow-x: auto;
  margin-top: 50px;
  padding-bottom: 20px;
}

.boardInner {
  min-width: max-content;
}

.boardColumns {
  display: flex;
  gap: 52px;
}

.boardColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 381px;
}

.taskLine {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 200px;
}

.noTasks {
  width: 100%;
  text-align: center;
  color: #6c757d;
  font-family: FiraGO;
  font-size: 14px;
}

.deleteAllFilter {
  font-family: FiraGO;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #343a40;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filtersWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .homePageWrapper {
    padding-inline: 15px;
  }

  .boardScrollContainer {
    overflow-x: visible;
  }

  .boardInner {
    min-width: 0;
  }

  .boardColumns {
    flex-direction: column;
    gap: 40px;
  }

  .boardColumn {
    width: 100%;
  }
}
