.taskWrapper {
  max-width: 1680px;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 65px 0 216px 55px;
  background-color: #fbf9ffa6;
  border: 0.3px solid #ddd2ff;
}

.firstLine {
  display: flex;
  gap: 161px;
}

.secondLine {
  display: flex;
  gap: 161px;
}

.thirdLine {
  display: flex;
  gap: 161px;
}

.leftSide {
  display: flex;
  gap: 32px;
}

.rightSide {
  position: relative;
  left: 335px;
  top: 0;
}

.fourthLine {
  max-width: 1261px;
  display: flex;
  justify-content: flex-end;
  gap: 161px;
  margin-top: 90px;
}

.button {
  width: 208px;
  height: 42px;
  border-radius: 5px;
  border: none;
  background-color: #8338ec;
  color: #fff;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: 0.2s ease;
}

.button:hover {
  background-color: #b588f4;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
