.container {
  position: relative;
}

.dropdownButton {
  width: 200px;
  height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  gap: 8px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropDownTitles {
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.dropdownContainer {
  width: 688px;
  position: absolute;
  top: 54px;
  padding: 40px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
  border: 0.5px solid rgba(131, 56, 236, 1);
  background: #fff;
  z-index: 10;
}

.buttonContainer {
  align-self: flex-end;
}

.buttonsContainer {
  display: flex;
  gap: 45px;
  background: #fff;
  border: 1px solid rgba(222, 226, 230, 1);
  border-radius: 10px;
}
