.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #8338ec;
  color: #fff;
}

.button:hover {
  background-color: #b588f4;
}
