.addition {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 14.5px 311px 14.5px 15px;
}

.additionName {
  color: #8338ec;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
