.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  color: #8338ec;
  gap: 6px;
}

.button:hover {
  color: #b588f4;
}

.button:hover .img {
  opacity: 70%;
}
