.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  color: #8338ec;
  gap: 6px;
  font-family: FiraGO;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.button:hover {
  color: #b588f4;
}

.button:hover .img {
  opacity: 70%;
}
