.container {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px; 
    border: 1px solid; 
    border-radius: 3px; 
  }
  
  .icon {
  }
  
  .iconBig {
    width: 18px;
    height: 20px;
  }
  
  .iconSmall {
    width: 16px;
    height: 18px;
  }
  
  .iconDefault {
    width: 24px;
    height: 18px;
  }
  
  .text {
  }
  
  .textBig {
    font-size: 16px;
    font-weight: bold;
  }
  
  .textSmall {
    font-size: 12px;
    font-weight: normal;
  }
  
  .textDefault {
    font-size: 16px;
    font-weight: normal;
  }
  
  .textRed {
    color: red;
  }
  
  .textOrange {
    color: orange;
  }
  
  .textGreen {
    color: green;
  }
  
  .textDefault {
    color: black; 
  }
  
  .borderRed {
    border-color: red;
  }
  
  .borderOrange {
    border-color: orange;
  }
  
  .borderGreen {
    border-color: green;
  }
  
  .borderDefault {
    border-color: gray; 
  }
  
  .gapBig {
    gap: 15px;
  }
  
  .gapSmall {
    gap: 8px;
  }
  
  .gapDefault {
    gap: 10px;
  }