.textWrapper {
    max-width: 1680px;
    margin: 40px auto 52px auto;
}

.text {
    font-family: FiraGO;
    font-weight: 600;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #212529;
}