.priorityWrapper {
  position: relative;
}

.title {
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0d0f10;
}

.container {
  width: 259px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 6px;
  position: absolute;
  background-color: #fff;
}

.dropdownContainer {
  width: 259px;
}

.dropdownButton {
  width: 259px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  padding-right: 14px;
}

.priorityItem {
  display: flex;
  flex-direction: column;
  border: none;
}

.buttonContent {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #0d0f10;
  padding: 14px;
  gap: 6px;
  font-family: FiraGO;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.openedContainer {
  border: 1px solid #8338ec;
}

.openedTitle {
  color: #8338ec;
}
