.dropdownContainer {
  width: 259px;
  height: 46px;
}

.dropdownButton {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.priorityItem {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
}

.buttonContent {
  display: flex;
}
