.condition {
    width: 100%;
    max-width: 381px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FiraGO;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
  }
  
  .pink {
    background-color: #FF006E;
  }
  
  .orange {
      background-color: #FB5607;
  }
  .blue {
      background-color: #3A86FF;
  }
  
  .yellow {
      background-color: #F7BC30;
  }