.taskCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 381px;
  height: 217px;
  padding: 20px;
  color: black;
  border: 1px solid #ced4da;
  border-radius: 15px;
  background-color: #fff;
}

.detailsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dueDate {
  font-family: FiraGO;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212529;
}

.contentWrapper {
  padding-inline: 10.5px;
}

.title {
  color: #212529;
  font-family: FiraGO;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 28px;
}

.description {
  color: #343a40;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 12px;
  overflow: hidden;
}

.addressWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.commentsWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.borderYellow {
  border: 1px solid #f7bc30;
}

.borderOrange {
  border: 1px solid #fb5607;
}

.borderPink {
  border: 1px solid #ff006e;
}

.borderBlue {
  border: 1px solid #3a86ff;
}
